<div class="col-lg-12 col-mg-12">
	<div class="jumbotron">
	  <h1 class="display-4">Student Management</h1>
	  <p class="lead">this is our bootcamp project.</p>
	  <hr class="my-4">
	  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>